<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/docs/5130/common/gpdb-features.html">Greenplum Database 5.13 Documentation</a>
      </li>
      <li>
         <a href="/docs/5130/admin_guide/admin_guide.html">Administrator Guide</a>
      </li>
      <li>
        <a href="/docs/5130/security-guide/topics/preface.html">Security Configuration Guide</a>
      </li>
      <li>
        <a href="/docs/5130/best_practices/intro.html">Best Practices Guide</a>
      </li>
      <li>
         <a href="/docs/5130/utility_guide/utility_guide.html">Utility Guide</a>
      </li>
      <li>
         <a href="/docs/5130/ref_guide/ref_guide.html">Reference Guide</a>
      </li>
      <li>
         <a href="/docs/5130/admin_guide/external/pxf-overview.html">Greenplum Platform Extension Framework (PXF)</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
